<ion-header>
  <ion-toolbar>
    <ion-title>
      Prueba Camara
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header color="success">
      <ion-card-title text-center>Camera</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="foto" *ngIf="foto">
      <ion-button (click)="capturarFoto()" fill="clear">
        <ion-icon  name="camera" icon="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="buscarFoto()" fill="clear">
        <ion-icon name="image" icon="icon-only"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-button (click)="openCam()">
      abrir camara
    </ion-button>

    <img src="{{image}}">
  </ion-card>
  
</ion-content>
